<input type="file" (change) = "readBook($event)">

<button (click)="makeBookmark()">Bookmark This Page</button>

<ul>
    <button *ngFor="let link of bookMark, let i =index" (click) = "goToBookMark(link.link)">
       {{ link.name}}
    </button>
</ul>

<ul>
    <li *ngFor="let link of hIndex,  let i =index" (click) = "goToBookMark(link)">
        HL-{{i}}

        <button (click)="removeH(link)"> X</button>
    </li>
</ul>

<div class="book">
    <!-- <button id="prev" (click)="prevPage()">Prev</button>
    <button id="next" (click)="nextPage()">Next</button>
    <div id="viewer"></div> -->

  <div id="viewer" class="spreads" [class.single]="cond" (contextmenu)="onRightClick($event)"></div>
  <div id="prev" class="arrow" (click)="prevPage()" >‹</div>
  <div id="next" class="arrow" (click)="nextPage()">›</div>

</div>

<div class="highlisht-color">
    <button *ngFor="let color of hColors" [class]="'btn '+'btn-'+color" (click) = "changeHColor(color)"></button>
</div>
